<%- include("./partials/header.ejs") %>

    <div class="container m-50 p-50">
        <h2><em>Fill the form below to add your blog:</em></h2>
        <form action="/submitPost" method="post">
            <input name="name" type="text" placeholder="Name" required class="inputElements"/> <br>
            <input name="email" type="email" placeholder="Email" required/> <br>
            <input name="number" type="number" placeholder="Contact Number" required/> <br>
            <input name="title" type="text" placeholder="Blog Title" required/> <br>
            <textarea name="content" placeholder="Blog Content" required></textarea> <br>
            <input name="password" type="password" placeholder="Password" required/> <br>
            <button type="submit" class="postAddButton">Submit</button>
        </form>
    </div>

<%- include("./partials/footer.ejs") %>